

 body{
   background-color: lightblue;
}

.calculator{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10%;
   
   
   
}

.row{
  display: flex;
}

.buttons{
   
   border: solid black;
}

.row{
   flex: stretch;
}

#display{
   height: 5em;
   border: solid red;
   text-align: right;
}

#one{
   width: 5rem;
   height: 5rem;
}

#two{
   width: 5rem;
   height: 5rem;
}

#three{
   width: 5rem;
   height: 5rem;
}

#four{
   width: 5rem;
   height: 5rem;
}

#five{
   width: 5rem;
   height: 5rem;
}

#six{
   width: 5rem;
   height: 5rem;
}

#seven{
   width: 5rem;
   height: 5rem;
}

#eight{
   width: 5rem;
   height: 5rem;
}

#nine{
   width: 5rem;
   height: 5rem;
}

#zero{
   width: 5rem;
   height: 5rem;
   flex-grow: 1;
   
}

#divide{
   width: 5rem;
   height: 5rem;
}

#multiply{
   width: 5rem;
   height: 5rem;
}

#subtract{
   width: 5rem;
   height: 5rem;
}

#decimal{
   width: 5rem;
   height: 5rem;
   
}

#equals{
   width: 5rem;
   height: 5rem;
}