

 body{
   background-color: lightblue;
}

.calculator{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10%;
   
   
}

.row{
  
}

.buttons{
   
   border: solid black;
}

.row{
   flex: stretch;
}


#one{
   width: 5rem;
   height: 5em;
}

#two{
   width: 5rem;
   height: 5rem;
}

#three{
   width: 5rem;
   height: 5rem;
}

#four{
   width: 5rem;
   height: 5rem;
}

#five{
   width: 5rem;
   height: 5rem;
}

#six{
   width: 5rem;
   height: 5rem;
}

#seven{
   width: 5rem;
   height: 5rem;
}

#eight{
   width: 5rem;
   height: 5rem;
}

#nine{
   width: 5rem;
   height: 5rem;
}

#divide{
   width: 5rem;
   height: 5rem;
}

#multiply{
   width: 5rem;
   height: 5rem;
}

#subtract{
   width: 5rem;
   height: 5rem;
}