body{
   background: lightblue;
   
}

.buttons{
   text-align: center;
   flex-wrap: wrap;
}

#one{

}

#two{

}

#three{

}

#four{

}

#five{

}

#six{

}

#seven{

}

#eight{

}

#nine{

}

#zero{

}

#add{

}

#subtract{

}

#multiply{

}

#divide{
   
}



